<div class="card-columns">
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFile" name="filedesp">
          <label class="custom-file-label" for="customFile">Chọn file</label>
        </div>
         </div>
         <div class="status alert alert-success"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="buttonupload">Upload</button>
      </div>
    </div>
  </div>

<!-- Upload file xử dụng ajax -->

</div>
<!-- <div class="row"> -->
  {{#each notes}}
  <!-- <div class="col-md-3"> -->
    <div class="card my-3">
      <div class="card-body">
        <h4 class="card-title d-flex justify-content-between align-items-center">
          {{ title }} 
    <div class="btn-group">
        <span class="nav-item dropdown">
            <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item " id="linkedit" href="/notes/edit/{{_id}}">Edit</a>
              <a class="dropdown-item uploadbut" data-toggle="modal" data-target="#exampleModalCenter" href="/notes/upload">Upload</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/users/logout">Logout</a>
            </div>
          </span>
    </div>
        </h4>
		<div class="ce-example form-group">
			<div class="ce-example__content _ce-example__content--small">
				<div id="{{_id}}" ></div>
			</div>
			<script>
				var data = {{{ description }}};
				var blocks = data.blocks;
				var editor = new EditorJS({
					readOnly: true,
					holder: '{{_id}}',
					tools: tool,
					i18n: il8n,
					data: {blocks},
					onReady: function(){
						editoronReady();
						//saveButton.click();
					},
					onChange: function() {
						console.log('something changed');
					}
				});
				</script>
		</div>
    <div class="form-group">
      {{#file}}
      {{#if oldname}}  
      {{#isNull  mimetype }}  
           {{else}}
              {{#equals  mimetype 'image/png' 'image/png' }}
                   <div class="form-group"> <img class="imagefile" src="/public/up/{{_id}}"></div>
                {{else}}
                     <li><a href="/public/up/{{_id}}">{{oldname}}</a></li>
              {{/equals}} 
      {{/isNull}} 
      {{/if}}
    {{/file}}
  </div>
		  <!-- TAG -->
		<div class="form-group">
			<div class="post" id="taglist">
				<ul class="tags">
					{{#tag}}
		            <li><a href="/tag/{{_id}}">{{tag}}</a></li>
					{{/tag}}
				</ul> 
			</div>
		</div>
        <!-- DELETE REQUEST -->
        <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger btn-block btn-sm">Delete</button>
        </form>
        <div class="">
        <p class="card-text" style="text-align: initial;font-weight: bolder;font-size: x-small;">
        	{{ createdAt }}
        </p>
    </div>
      </div>

    

    </div>
  <!-- </div> -->
  {{else}}
  <div class="card mx-auto">
    <div class="card-body">
      <h1>Hello {{user.name}}</h1>
      <p clsss="lead">There are not Notes yet.</p>
      <a href="/notes/add" class="btn btn-success btn-block">Create One!</a>
    </div>
  </div>
  {{/each}}
</div>
<script>
$('.uploadbut').on('click', function () {
  $('#buttonupload').attr("data-id", ($('#linkedit').attr("href").split("/"))[3]);
});
$('#buttonupload').on('click', function () {
  // Lấy ra files
        var file_data = $('#customFile').prop('files')[0];
        // láy kiểu file
        var type = file_data.type;
            //khởi tạo đối tượng form data
            var form_data = new FormData();
            //thêm files vào trong form data
            form_data.append('filedesp', file_data);
            form_data.append('idnote', $('#buttonupload').attr("data-id"));
//             for(var pair of form_data.entries()) {
//    console.log(pair[0]+ ', '+ pair[1]); 
// }
            //sử dụng ajax post
            $.ajax({
                url: '/file/upload', // gửi đến file upload.php 
                cache: false,
                enctype: 'multipart/form-data',
                contentType: false,
                processData: false,
                data: form_data,
                type: 'post',
                success: function (res) {
                  console.log(res);
                    $('.status').text("thanh conng");
                    $('#customFile').val('');
                }
            });
        //return false;
    });


</script>