<style>
  .card-profile-image img {
  position: absolute;
  left: 50%;
  max-width: 150px;
  transition: all .15s ease;
  transform: translate(-50%, -30%);
  border-radius: .375rem;
}
.card-profile-stats {
  padding: 1rem 0;
}

.card-profile-stats>div {
  margin-right: 1rem;
  padding: .875rem;
  text-align: center;
}

.card-profile-stats>div:last-child {
  margin-right: 0;
}

.card-profile-stats>div .heading {
  font-size: 1.1rem;
  font-weight: bold;
  display: block;
}

.card-profile-stats>div .description {
  font-size: .875rem;
  color: #adb5bd;
}

</style>

<div class="container-fluid">
      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0 pt-5">
          <div class="card card-profile shadow ">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img src="https://demos.creative-tim.com/argon-dashboard/assets/img/theme/team-4.jpg" class="rounded-circle">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              <div class="d-flex justify-content-between">
              </div>
            </div>
            <div class="card-total card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-3">
                    <div>
                      <span class="heading">{{user.note}}</span>
                      <span class="description">Ghi chú</span>
                    </div>
                    <div>
                      <span class="heading">{{user.fileupload}}</span>
                      <span class="description">File</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h3>
                  Jessica Jones<span class="font-weight-light">, 27</span>
                </h3>
                <div class="h5 font-weight-300">
                  <i class="ni location_pin mr-2"></i>Bucharest, Romania
                </div>
                <div class="h5 mt-4">
                  <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
                </div>
                <div>
                  <i class="ni education_hat mr-2"></i>Tạo lúc "{{user.date}}"
                </div>
                <hr class="my-4">
                <p>Sống hết mình.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Thông tin tài khoản</h3>
                </div>
                <div class="col-4 text-right">
                  <a href="#!" id="changeinfoUser" class="btn btn-sm btn-primary">Save</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form>
                <h6 class="heading-small text-muted mb-4">Người dùng</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-username">Họ và Tên</label>
                        <input type="text" id="input-username" class="form-control form-control-alternative" placeholder='' value="{{user.name}}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Địa chỉ email</label>
                        <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="" value="{{user.email}}">
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4">
                <!-- Password -->
                <h6 class="heading-small text-muted mb-4">Bảo mật</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-oldpass">Mật khẩu cũ</label>
                        <input id="input-oldpass" class="form-control form-control-alternative" placeholder="Old Password" value="" type="password">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-newpass">Mật khẩu mới</label>
                        <input id="input-newpass" class="form-control form-control-alternative" placeholder="New Password" type="password">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-renewpass">Nhập lại mật khẩu mới</label>
                        <input id="input-renewpass" class="form-control form-control-alternative" placeholder="Renew Password" type="password">
                      </div>
                    </div>
                    <div class="pl-lg-4">
                  <div class="form-group focused">
                    <label>Lưu ý</label>
                    <p>Mật khẩu phải có từ 8-12 kí tự chữ và số.</p>
                  </div>
                </div>
                  </div>
                </div>
                <hr class="my-4">
                <!-- Description -->
                <h6 class="heading-small text-muted mb-4">Về tôi</h6>
                <div class="pl-lg-4">
                  <div class="form-group focused">
                    <label>Về tôi</label>
                    <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ...">Con người sinh đẹp và tài giỏi từ trong trứng.</textarea>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
<script type="text/javascript">
  $('#changeinfoUser').on('click', function () {
  $.ajax({
          type : 'POST', //Sử dụng kiểu gửi dữ liệu POST
          url : '/user/info', //gửi dữ liệu sang trang data.php
          data : {"username":  $('#input-username').val(),"email":  $('#input-email').val(),"oldpass": $('#input-oldpass').val(), "newpass": $('#input-newpass').val(), "renewpass": $('#input-renewpass').val() },//dữ liệu sẽ được gửi
          success : function(data)  // Hàm thực thi khi nhận dữ liệu được từ server
                { 
                   console.log(data);
                   window.location = "/users/signin";
                },
          error: function(request,msg,error) {
              console.log("Xoa lỗi " + error );
            }
            });
      });
</script>